<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{home :: page_head}"></head>
<body>
    <header th:replace="~{home :: page_header}"></header>

    <div class="layout-main">
        <aside th:replace="~{home :: page_anside}"></aside>

        <section class="layout-content">
            <div class="page-header">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <a class="btn btn-primary btn-md" href="/semestres/listar" role="button">
                        <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
                        <span>Listar Semestres</span>
                    </a>
                </nav>
            </div>

            <div class="container" id="form-cadastro">
				<div th:if="${erro}" class="alert alert-danger">
				    <span th:text="${erro}"></span>
				</div>

				<div th:if="${sucesso}" class="alert alert-success">
				    <span th:text="${sucesso}"></span>
				</div>
                <form th:action=" ${semestre.id == null} ? @{/semestres/salvar} : @{/semestres/editar}" method="POST" th:object="${semestre}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nome">Ano</label>
                            <input type="number" class="form-control" id="ano" placeholder="Ano do Semestre" th:field="*{ano}" /> 
                        </div>
						
						<div class="form-group col-md-6">
						    <label for="etapa">Etapa</label>
						    <select class="form-control" id="etapa" th:field="*{etapa}">
						        <option value="1">1</option>
						        <option value="2">2</option>
						    </select>
						</div>
                        <div class="form-group col-md-6">
                            <label for="dataInicio">Início do Semestre</label>
                            <input type="date" class="form-control" id="dataInicio" placeholder="Data de início" th:field="*{dataInicio}" required />
                        </div>
						<div class="form-group col-md-6">
						     <label for="dataFim">Fim do Semestre</label>
						      <input type="date" class="form-control" id="dataFim" placeholder="Data do Fim" th:field="*{dataFim}" required />
						</div>
						

                    </div>
					<input type="hidden" th:field="*{id}" />
                    <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                </form>
            </div>
        </section>
    </div>

    <footer class="layout-footer">
        <div class="container"></div>
    </footer>

    <!-- Scripts -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
        $(".navbar-toggler").click(function () {
            $(".sidebar").toggleClass("sidebar-open");
        });
    </script>
</body>
</html>
