<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{home :: page_head}"></head>

<body>
	<header th:replace="~{home :: page_header}"></header>

	<div class="layout-main">

		<aside th:replace="~{home :: page_anside}"></aside>

		<section class="layout-content">
			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">

					<a class="btn btn-primary btn-md" href="/alunos/cadastrar" role="button">
						<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
						<span>Cadastrar Aluno</span>
					</a>
				</div>
			</nav>

			<div class="container">
				<div class="table-responsive">
					<table class="table table-striped table-hover table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>Nome</th>
								<th>E-mail</th>
								<th>Matrícula</th>
								<th>CPF</th>
								<th>Data de Nascimento</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="aluno : ${alunos}">
								<td th:text="${aluno.id}">1</td>
								<td th:text="${aluno.nome}">Fulano de Tal</td>
								<td th:text="${aluno.email}">fulano@gmail.com</td>
								<td th:text="${aluno.matricula}">2024.1-cc-1234</td>
								<td th:text="${aluno.cpf}">000.000.000-00</td>
								<td th:text="${aluno.dtNascimento}">01/01/2000</td>
								<td colspan="2">
									<a class="btn btn-info btn-sm" th:href="@{/alunos/editar/{id} (id=${aluno.id})}" role="button">
										<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
									</a>

									<a class="btn btn-danger btn-sm" th:href="@{/alunos/excluir/{id} (id=${aluno.id})} " role="button">
										<span class="oi oi-brush" title="Excluir" aria-hidden="true"></span>
									</a>


								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

	</div>

	<footer class="layout-footer">
		<div class="container">

		</div>
	</footer>

	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">

		$(function () {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function () {
			$(".navbar-toggle").click(function () {
				$(".sidebar").toggleClass("sidebar-open");
			})
		});

	</script>
</body>

</html>